{% extends 'base.html' %}
{% block main_text %}
	<link href="/static/css/bootstrap2.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	<script src="/static/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <style type="text/css">
    body{ font-size:12px; line-height:24px;}
    .exp1{font-size:xx-large;}
    </style>
	<div></div></br></br>
    <div class="container" id="global_container">
        <div><h2>话务数据分布查询</h2></div></br>
        <form action class="form-horizontal">
            <div class="container-fluid pull-left">
                <input id="cell_id" name="cell_id" maxlength="30" class="kari-nav-input" type="text" placeholder="Cell ID"/>
            </div>
			<div class="form-group">
                <select id="mode" class="selectpicker" data-style="btn-primary">
					<option value="0">小时级查询</option>
					<option value="1">15分钟级查询</option>
					<option value="2">分钟级查询</option>
                </select>
            </div>
		</form><br><br>
        <form action class="form-horizontal">
            <div class="control-group">
                <label class="control-label">日期</label>
                <div class="controls input-append date form_date" data-date="" data-date-format="yyyy MM dd" data-link-field="date" data-link-format="yymmdd">
                    <input style="width:150px;height:30px" type="text" value="" readonly="">
                    <span class="add-on" style="width:28px;height:30px"><i class="icon-remove"></i></span>
                    <span class="add-on" style="width:28px;height:30px"><i class="icon-th"></i></span>
                </div>
                <input type="hidden" id="date"><br>
            </div>
            <div class="control-group">
                <label class="control-label">起始时间</label>
                <div class="controls input-append date form_datetime" data-date-format="hh : ii" data-link-field="start_time" data-link-format="hhii">
                    <input style="width:150px;height:30px" type="text" value="" readonly="">
                    <span class="add-on" style="width:28px;height:30px"><i class="icon-remove"></i></span>
                    <span class="add-on" style="width:28px;height:30px"><i class="icon-th"></i></span>
                </div>
                <input type="hidden" id="start_time"><br>
            </div>
            <div class="control-group">
                <label class="control-label">结束时间</label>
                <div class="controls input-append date form_datetime" data-date-format="hh : ii" data-link-field="end_time" data-link-format="hhii">
                    <input style="width:150px;height:30px" type="text" value="" readonly="">
                    <span class="add-on" style="width:28px;height:30px"><i class="icon-remove"></i></span>
                    <span class="add-on" style="width:28px;height:30px"><i class="icon-th"></i></span>
                </div>
                <input type="hidden" id="end_time"><br>
            </div>
        </form></br></br></br>
        <div class="control-group">
            <button type="button" class="controls" onclick="query_traffic()">查询</button>
        </div>
		<div><p></p></div></br></br></br>
		<div class="row">
			<div class="col-sm-6">
				<div id="traff_line" style="width: 500px;height:400px;"></div>
			</div>
            <div class="col-sm-6">
				<div id="congestion_line" style="width: 500px;height:400px;"></div>
			</div>
		</div>
        <script type="text/javascript">
            $('.form_date').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                initialDate: '2007-10-14'
            });
            $('.form_datetime').datetimepicker({
                language:  'fr',
            	format: 'hh : ii',
            	startView: 0,
            	minView: 0,
            	maxView: 0,
                todayHighlight: 1,
                autoclose: 1,
                daysOfWeekDisabled: [0, 6],
            });
            var x_data = [];
            var y_data = [];
            var myChart1 = echarts.init(document.getElementById("traff_line"));
            var myChart2 = echarts.init(document.getElementById("congestion_line"));
            var traffavg_name = ['每小时平均话务量', '每15分钟平均话务量', '每分钟平均话务量'];
            var traffline_name = ['每小时每线话务量', '每15分钟每线话务量', '每分钟每线话务量'];
            option = {
                title : {
                    text: '',
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['','']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : []
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        axisLabel : {
                            formatter: '{value} °C'
                        }
                    }
                ],
                series : [
                    {
                        name:'',
                        type:'line',
                        data:[],
                        markPoint : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name: '平均值'}
                            ]
                        }
                    },
                    {
                        name:'',
                        type:'line',
                        data:[],
                        markPoint : {
                            data : [
                                {name : '周最低', value : -2, xAxis: 1, yAxis: -1.5}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name : '平均值'}
                            ]
                        }
                    }
                ]
            };
        	function query_traffic() {
				$.post("/traffic/", {
					mode: $(".selectpicker").val(),
					cell_id: $('#cell_id').val(),
					date: $('#date').val(),
					start_time: $('#start_time').val(),
					end_time: $('#end_time').val(),
					}, function(data) {
                        if (data.code == 0) {
                            option.xAxis[0].data = data.time;
                            option.series[0].data = data.traffavg;
                            option.series[0].name = traffavg_name[data.mode];
                            option.legend.data[0] = traffavg_name[data.mode];
                            option.series[1].data = data.traffline;
							option.series[1].name = traffline_name[data.mode];
							option.legend.data[1] = traffline_name[data.mode];
                            option.title.text = '话务量';
                            myChart1.setOption(option);
                            if (data.mode == 0) {
                                myChart1.setOption(option);
                                option.series[0].data = data.congrate;
                                option.series[0].name = '拥塞率'
                                option.series[1].data = y_data;
                                option.series[1].name = '';
                                option.legend.data[1] = '';
                                option.title.text = '拥塞率';
                                myChart2.setOption(option);
                            }
                            else {
                            	option.series[0].data = y_data;
                            	option.series[1].data = y_data;
                            }
                        }
				}, "json");
            }
        </script>
    </div>

{% endblock %}
